.adsbygoogle.ad-dev {
    background-color: #ddd;
    min-height: 64px;
}

.c-sidebar .sidebar-ad {
    text-align: center;
}

.articles__content-block--ad {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2.5em;
}

.Post_footer__ad {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
}
