.flex-row {
    flex-direction: row;
    display: flex;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-body {
    display: flex;
}

.notification__item {
    align-items: center;
    padding: 0.5em 1rem;
    position: relative;
    @include themify($themes) {
        border-bottom: themed('border');
        border:1px solid #eee;
    }

    .notification__unread {
        position: absolute;
        right: 1em;
        top: 0.75em;
        font-size: 2em;
        @include themify($themes) {
            color: themed('textColorAccent');
        }
    }

    .Userpic {
        margin: 0 1em;
    }

    .Icon {
        margin-right: 0.25em;
        @include themify($themes) {
            fill: themed('textColorSecondary');
            path {
                fill: themed('textColorSecondary');
            }
            circle {
                stroke: themed('textColorSecondary');
            }
        }
    }

    .notification__date {
        font-size: 0.9em;
        opacity: 0.8;
        @include themify($themes) {
            color: themed('textColorSecondary');
        }
    }

    .notification__message {
        padding-bottom: 0.5em;
        padding-right: 0.5em;
    }
} 